body {
    background-color: #FCFCFC
}

#image {
    height: 100%;
    padding: 16px;
    display: none;
}

#form {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;
    background-color: #FCFCFC;
    margin: 16px;
    border: 1px solid #CCC;
    border-radius: 8px;
}

#title {
    text-align: center;
    font-size: 1rem
}

.form-group {
    margin: 1.0rem !important;
}

#address-group {
    padding-top: 8px;
    overflow: hidden;
}

#address-group div {
    margin-top: 4px;
    margin-right: 4px;
    cursor: pointer;
}

#address-group div:hover {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

#button-group {
    text-align: right;
}

#submit-button {
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 16px;
    min-width: 90px;

}

#submit-button.open-button {
    background-color: #00A497;
    color: #FFF;
}

#submit-button.close-button {
    background-color: #DE0D81;
    color: #FFF;
}

#form #dorder {
    width: 100%;
    height: 2px;
    background-color: #EEE;
}

.qr-group {
    padding: 16px 0px;
    text-align: center;
    display: none;
}